/*https://www.colourlovers.com/palette/129595/Chocolate_Labrador*/

#instructions {
    display:grid;
    justify-content:center;
    align-items: center;
}

.step{ 
    margin-top:100px;
    line-height:15px;
}

.steptext {
    font-size:25px; 
    color:rgb(234,0,0);
}

.stepimg {
    width:750px;
}

#step1 {
    margin-top:0px;
}



/*.header{
    position:fixed;
    background-color: rgb(56,35,19);
    padding-right:500px;
}

.header_text {
    color:rgb(241,238,217);
}

h1.header_text{
    position:relative;
    left:2px;
}

h2.header_text {
    position:relative;
    bottom:20px;
    left:20px
}

.pixivart {
    height:200px;
}*/ 