#home {
    position:fixed;
    right:10px;
    bottom:30px;
    width:45%
}

#homeheader{
    line-height:300%;
    padding-top:1px;
    padding-bottom:1px;
}

iframe {
    display:fixed;
    height:69%;
    width:100%;
}

#galleryheader{ 
    position:fixed;
    line-height:300%;
    padding-top:1px;
    padding-bottom:1px;
    bottom:30px;
    left:10px;
    width:45%;
}

a {
    text-decoration: none;
}

body {
    background-color:#121212;
    overflow:hidden;
}

html, body{
    min-height: 100% !important;
    height: 100%;
}

h1 {
    color:#627D98;
    font-family:'Courier New', Courier, monospace;
    font-size:3em;
    text-align:center;
}

.step {
    margin-top:50px;
    line-height:15px;
    border-radius:3rem;
    background-color:#1F2933;
    padding:30px;
    position: relative;
    box-shadow: 5px 5px #6483a1;
    transition: all .4s ease;
}

.step:hover {
    box-shadow: 15px 15px #6483a1;
}

.steptext {
    font-size:25px; 
    color:#BDBDBD;
    font-family:"Lucida Console", "Courier New", monospace;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #121212;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #a68eff);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}
