/*https://www.colourlovers.com/palette/129595/Chocolate_Labrador*/

#instructions {
    display:grid;
    justify-content:center;
    align-items: center;
}

#list {
    color:rgb(129, 0, 0);
    line-height:50px;
}

.step{ 
    margin-top:100px;
    line-height:15px;
}

.steptext {
    font-size:25px; 
    color:rgb(234,0,0);
}

.stepimg {
    width:750px;
}

#step1 {
    margin-top:0px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*.header{
    position:fixed;
    background-color: rgb(56,35,19);
    padding-right:500px;
}

.header_text {
    color:rgb(241,238,217);
}

h1.header_text{
    position:relative;
    left:2px;
}

h2.header_text {
    position:relative;
    bottom:20px;
    left:20px
}

.pixivart {
    height:200px;
}*/ 